# q&a on customer analysis round 1

In [1]:
#libraries

import pandas as pd

# get files

In [64]:
f1= pd.read_csv('file1.csv')

In [65]:
f2= pd.read_csv('file2.csv')

In [66]:
f3= pd.read_csv('file3.csv')

In [9]:
f1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [18]:
f2.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [20]:
f3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

# rename columns + concat

In [67]:
f1=f1.rename(columns={"ST": "State", "GENDER": "Gender"})

In [68]:
f2=f2.rename(columns={"ST": "State", "GENDER": "Gender"})

In [69]:
full=pd.concat([f3,f2,f1], ignore_index=True)

In [13]:
full.shape

(12074, 11)

In [64]:
full.head(50)

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0.0,104.0,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0.0,66.0,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820.0,82.0,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0.0,121.0,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.95848,High School or Below,M,30366.0,101.0,2,Personal Auto,484.800000,SUV
5,VI78454,Arizona,2750.705045,College,M,51789.0,70.0,0,Personal Auto,336.000000,Four-Door Car
6,FP59138,Oregon,13024.13012,Master,M,0.0,125.0,0,Personal Auto,900.000000,SUV
7,XN62489,Oregon,2538.62632,Bachelor,M,18608.0,71.0,0,Corporate Auto,340.800000,Four-Door Car
8,GP66031,California,2585.955652,College,F,83758.0,64.0,0,Corporate Auto,106.591949,Two-Door Car
9,IX68587,Nevada,5096.673223,Master,F,22886.0,65.0,0,Personal Auto,312.000000,Four-Door Car
10,HX17929,California,10083.48688,High School or Below,F,11828.0,90.0,0,Personal Auto,571.479602,Four-Door Car
11,IC59236,California,4943.386117,College,F,44762.0,62.0,0,Corporate Auto,114.514440,Four-Door Car
12,VG31922,Nevada,6516.214888,Bachelor,F,0.0,175.0,0,Personal Auto,1221.143438,SUV
13,HP87787,Arizona,8838.085637,Bachelor,M,82664.0,114.0,3,Corporate Auto,133.425609,SUV
14,AL78075,Oregon,3810.238281,High School or Below,M,0.0,108.0,0,Personal Auto,777.600000,Four-Door Car
15,WA97671,Arizona,6334.466403,Bachelor,M,0.0,63.0,0,Personal Auto,302.400000,Four-Door Car
16,QZ77637,Washington,11665.09779,College,F,84978.0,72.0,1,Corporate Auto,166.772960,Four-Door Car
17,FP11777,California,10972.06778,Doctor,M,24164.0,137.0,0,Corporate Auto,657.600000,Sports Car
18,ID45268,California,6006.963446,College,F,0.0,80.0,0,Personal Auto,488.910614,Four-Door Car
19,AX86150,Washington,2656.713092,High School or Below,M,62777.0,67.0,0,Personal Auto,101.288069,Two-Door Car
20,MW57614,Arizona,2359.423599,Bachelor,F,19864.0,63.0,0,Personal Auto,352.394515,Four-Door Car
21,TJ30081,Arizona,12036.62051,Bachelor,M,44428.0,104.0,0,Personal Auto,499.200000,SUV
22,FW44940,California,8467.387317,Bachelor,F,21139.0,113.0,0,Personal Auto,656.798232,Sports Car
23,CS55808,California,9392.557553,College,M,0.0,88.0,0,Personal Auto,851.146266,Four-Door Car
24,WZ61178,California,5227.230377,Bachelor,F,11896.0,69.0,0,Personal Auto,476.254583,Two-Door Car
25,IV55977,Oregon,2693.75925,Bachelor,M,0.0,73.0,1,Personal Auto,350.400000,Two-Door Car
26,YC67208,California,2227.072755,High School or Below,M,27972.0,61.0,0,Personal Auto,292.800000,Four-Door Car
27,LZ89773,California,2326.864833,Doctor,M,0.0,62.0,0,Personal Auto,624.711448,Four-Door Car
28,IP52990,Oregon,16794.31422,High School or Below,F,38399.0,106.0,0,Personal Auto,368.890904,SUV
29,VF73104,Arizona,5016.827946,High School or Below,F,20868.0,63.0,0,Personal Auto,134.629643,Four-Door Car
30,OC80343,Oregon,7757.924239,Bachelor,M,49682.0,101.0,0,Personal Auto,198.844530,SUV
31,EL89222,California,8609.158215,Bachelor,F,79090.0,107.0,0,Personal Auto,289.040734,SUV
32,QB14114,Oregon,5275.056933,High School or Below,F,81850.0,132.0,0,Personal Auto,429.860895,Sports Car
33,HM41195,Arizona,5746.32619,High School or Below,M,22906.0,76.0,0,Personal Auto,519.883102,Four-Door Car
34,JT41591,Washington,2705.987629,College,M,0.0,83.0,1,Personal Auto,398.400000,Four-Door Car
35,HE15857,Washington,6186.265217,Bachelor,M,37138.0,83.0,2,Personal Auto,417.283890,Two-Door Car
36,KI64666,Nevada,22445.28088,Bachelor,F,0.0,71.0,0,Personal Auto,511.200000,Four-Door Car
37,JC33752,Oregon,6277.844624,College,F,21024.0,82.0,1,Personal Auto,450.129276,Two-Door Car
38,JA25453,California,7215.821106,High School or Below,M,0.0,103.0,0,Personal Auto,741.600000,Four-Door Car
39,AJ69778,Oregon,6514.430592,High School or Below,F,77135.0,84.0,3,Personal Auto,98.372265,Four-Door Car
40,FQ83162,Washington,34708.87261,College,M,0.0,109.0,0,Personal Auto,718.700718,Sports Car
41,EY89842,Arizona,4216.19522,Bachelor,M,0.0,114.0,0,Corporate Auto,820.800000,SUV
42,TG69238,Oregon,13158.37206,Bachelor,F,72845.0,108.0,0,Personal Auto,463.000336,SUV
43,UI63465,Oregon,2917.539465,High School or Below,F,51622.0,74.0,0,Corporate Auto,355.200000,Four-Door Car
44,WX33904,Arizona,6355.678846,Bachelor,M,0.0,61.0,0,Special Auto,292.800000,Two-Door Car
45,HA20933,Oregon,13269.59942,Bachelor,F,15616.0,114.0,1,Personal Auto,547.200000,SUV
46,BU16704,Oregon,5880.256499,High School or Below,F,0.0,82.0,0,Personal Auto,590.400000,Four-Door Car
47,JV68002,Washington,5926.729379,College,M,23091.0,96.0,5,Corporate Auto,460.800000,Four-Door Car
48,PM78410,Oregon,4121.252137,Bachelor,F,0.0,67.0,3,Personal Auto,482.400000,Two-Door Car
49,PU92298,Arizona,7956.152761,Bachelor,F,22699.0,74.0,4,Personal Auto,355.200000,Four-Door Car

In [ ]:
#optional 
# full=full.reindex(columns=['Gender','Income'....])

In [37]:
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   9137 non-null   object
 1   State                      9137 non-null   object
 2   Customer Lifetime Value    9130 non-null   object
 3   Education                  9137 non-null   object
 4   Gender                     9015 non-null   object
 5   Income                     9137 non-null   float64
 6   Monthly Premium Auto       9137 non-null   float64
 7   Number of Open Complaints  9137 non-null   object
 8   Policy Type                9137 non-null   object
 9   Total Claim Amount         9137 non-null   float64
 10  Vehicle Class              9137 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

# cust lifetime value

In [99]:
full['Customer Lifetime Value'].value_counts()
# deal with nulls 
# if theres a % sign , remove the sign and x 100 
# turn into a float 
# else, leave value as is

0.000000e+00    2944
2.647520e+03       6
5.107163e+03       6
5.568948e+03       6
2.009689e+04       6
                ...
1.340692e+04       1
7.901698e+03       1
1.301423e+04       1
2.926829e+03       1
2.031500e+08       1
Name: Customer Lifetime Value, Length: 8212, dtype: int64

In [70]:
full['Customer Lifetime Value']=full['Customer Lifetime Value']*100

In [74]:
full['Customer Lifetime Value']=pd.to_numeric(full['Customer Lifetime Value'],errors='coerce')

In [98]:
full['Customer Lifetime Value'].describe()

count    1.207400e+04
mean     1.331172e+07
std      3.929456e+07
min      0.000000e+00
25%      2.236976e+03
50%      5.334900e+03
75%      1.326809e+04
max      5.816655e+08
Name: Customer Lifetime Value, dtype: float64

In [23]:
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   9137 non-null   object
 1   State                      9137 non-null   object
 2   Customer Lifetime Value    12074 non-null  object
 3   Education                  9137 non-null   object
 4   Gender                     9015 non-null   object
 5   Income                     9137 non-null   float64
 6   Monthly Premium Auto       9137 non-null   float64
 7   Number of Open Complaints  9137 non-null   object
 8   Policy Type                9137 non-null   object
 9   Total Claim Amount         9137 non-null   float64
 10  Vehicle Class              9137 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

In [71]:
#replace nulls with 0 
full['Customer Lifetime Value'].fillna('0',inplace=True)

In [96]:
def clean_clv(x):
    if str(x).endswith('%') is True:
        y=float(x.replace('%',''))*100
        return y
    else:
        return float(x)

In [97]:
# apply to full column 
full['Customer Lifetime Value']=full['Customer Lifetime Value'].apply(clean_clv)

# data types

In [62]:
full.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   9137.000000           9137.000000         9137.000000
mean   37828.820291            110.391266          430.527140
std    30358.716159            581.376032          289.582968
min        0.000000             61.000000            0.099007
25%        0.000000             68.000000          266.996814
50%    34244.000000             83.000000          377.561463
75%    62447.000000            109.000000          546.420009
max    99981.000000          35354.000000         2893.239678

The data types incoming/detected are ...

BUT there are two columns stored as objects which could be interpreted as numbers

# Look at complaints

In [39]:
full['Number of Open Complaints'].value_counts()

0         5629
1/0/00    1626
1          765
2          283
1/1/00     247
3          230
4          119
1/2/00      93
1/3/00      60
5           44
1/4/00      29
1/5/00      12
Name: Number of Open Complaints, dtype: int64

In [58]:
string='1/3/00'

In [59]:
string[2]

'3'

In [106]:
compl_dct = {0:0,
             1:1,
             2:2,
             3:3,
             4:4,
             5:5,
             '1/0/00' :0, 
             '1/1/00' :1, 
             '1/2/00' :2, 
             '1/3/00' :3, 
             '1/4/00' :4, 
             '1/5/00' :5, 
            }

full['Number of Open Complaints'] = full['Number of Open Complaints'].map(compl_dct)

# dupes

In [89]:
full.duplicated().sum()

3

In [82]:
full.head(50)

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3.479138e+05,High School or Below,M,0.0,104.0,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2.502637e+05,Master,M,0.0,66.0,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3.265156e+05,Bachelor,F,25820.0,82.0,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4.455843e+05,High School or Below,F,0.0,121.0,0,Personal Auto,699.615192,SUV
4,FN77294,California,7.704958e+05,High School or Below,M,30366.0,101.0,2,Personal Auto,484.800000,SUV
5,VI78454,Arizona,2.750705e+05,College,M,51789.0,70.0,0,Personal Auto,336.000000,Four-Door Car
6,FP59138,Oregon,1.302413e+06,Master,M,0.0,125.0,0,Personal Auto,900.000000,SUV
7,XN62489,Oregon,2.538626e+05,Bachelor,M,18608.0,71.0,0,Corporate Auto,340.800000,Four-Door Car
8,GP66031,California,2.585956e+05,College,F,83758.0,64.0,0,Corporate Auto,106.591949,Two-Door Car
9,IX68587,Nevada,5.096673e+05,Master,F,22886.0,65.0,0,Personal Auto,312.000000,Four-Door Car
10,HX17929,California,1.008349e+06,High School or Below,F,11828.0,90.0,0,Personal Auto,571.479602,Four-Door Car
11,IC59236,California,4.943386e+05,College,F,44762.0,62.0,0,Corporate Auto,114.514440,Four-Door Car
12,VG31922,Nevada,6.516215e+05,Bachelor,F,0.0,175.0,0,Personal Auto,1221.143438,SUV
13,HP87787,Arizona,8.838086e+05,Bachelor,M,82664.0,114.0,3,Corporate Auto,133.425609,SUV
14,AL78075,Oregon,3.810238e+05,High School or Below,M,0.0,108.0,0,Personal Auto,777.600000,Four-Door Car
15,WA97671,Arizona,6.334466e+05,Bachelor,M,0.0,63.0,0,Personal Auto,302.400000,Four-Door Car
16,QZ77637,Washington,1.166510e+06,College,F,84978.0,72.0,1,Corporate Auto,166.772960,Four-Door Car
17,FP11777,California,1.097207e+06,Doctor,M,24164.0,137.0,0,Corporate Auto,657.600000,Sports Car
18,ID45268,California,6.006963e+05,College,F,0.0,80.0,0,Personal Auto,488.910614,Four-Door Car
19,AX86150,Washington,2.656713e+05,High School or Below,M,62777.0,67.0,0,Personal Auto,101.288069,Two-Door Car
20,MW57614,Arizona,2.359424e+05,Bachelor,F,19864.0,63.0,0,Personal Auto,352.394515,Four-Door Car
21,TJ30081,Arizona,1.203662e+06,Bachelor,M,44428.0,104.0,0,Personal Auto,499.200000,SUV
22,FW44940,California,8.467387e+05,Bachelor,F,21139.0,113.0,0,Personal Auto,656.798232,Sports Car
23,CS55808,California,9.392558e+05,College,M,0.0,88.0,0,Personal Auto,851.146266,Four-Door Car
24,WZ61178,California,5.227230e+05,Bachelor,F,11896.0,69.0,0,Personal Auto,476.254583,Two-Door Car
25,IV55977,Oregon,2.693759e+05,Bachelor,M,0.0,73.0,1,Personal Auto,350.400000,Two-Door Car
26,YC67208,California,2.227073e+05,High School or Below,M,27972.0,61.0,0,Personal Auto,292.800000,Four-Door Car
27,LZ89773,California,2.326865e+05,Doctor,M,0.0,62.0,0,Personal Auto,624.711448,Four-Door Car
28,IP52990,Oregon,1.679431e+06,High School or Below,F,38399.0,106.0,0,Personal Auto,368.890904,SUV
29,VF73104,Arizona,5.016828e+05,High School or Below,F,20868.0,63.0,0,Personal Auto,134.629643,Four-Door Car
30,OC80343,Oregon,7.757924e+05,Bachelor,M,49682.0,101.0,0,Personal Auto,198.844530,SUV
31,EL89222,California,8.609158e+05,Bachelor,F,79090.0,107.0,0,Personal Auto,289.040734,SUV
32,QB14114,Oregon,5.275057e+05,High School or Below,F,81850.0,132.0,0,Personal Auto,429.860895,Sports Car
33,HM41195,Arizona,5.746326e+05,High School or Below,M,22906.0,76.0,0,Personal Auto,519.883102,Four-Door Car
34,JT41591,Washington,2.705988e+05,College,M,0.0,83.0,1,Personal Auto,398.400000,Four-Door Car
35,HE15857,Washington,6.186265e+05,Bachelor,M,37138.0,83.0,2,Personal Auto,417.283890,Two-Door Car
36,KI64666,Nevada,2.244528e+06,Bachelor,F,0.0,71.0,0,Personal Auto,511.200000,Four-Door Car
37,JC33752,Oregon,6.277845e+05,College,F,21024.0,82.0,1,Personal Auto,450.129276,Two-Door Car
38,JA25453,California,7.215821e+05,High School or Below,M,0.0,103.0,0,Personal Auto,741.600000,Four-Door Car
39,AJ69778,Oregon,6.514431e+05,High School or Below,F,77135.0,84.0,3,Personal Auto,98.372265,Four-Door Car
40,FQ83162,Washington,3.470887e+06,College,M,0.0,109.0,0,Personal Auto,718.700718,Sports Car
41,EY89842,Arizona,4.216195e+05,Bachelor,M,0.0,114.0,0,Corporate Auto,820.800000,SUV
42,TG69238,Oregon,1.315837e+06,Bachelor,F,72845.0,108.0,0,Personal Auto,463.000336,SUV
43,UI63465,Oregon,2.917539e+05,High School or Below,F,51622.0,74.0,0,Corporate Auto,355.200000,Four-Door Car
44,WX33904,Arizona,6.355679e+05,Bachelor,M,0.0,61.0,0,Special Auto,292.800000,Two-Door Car
45,HA20933,Oregon,1.326960e+06,Bachelor,F,15616.0,114.0,1,Personal Auto,547.200000,SUV
46,BU16704,Oregon,5.880256e+05,High School or Below,F,0.0,82.0,0,Personal Auto,590.400000,Four-Door Car
47,JV68002,Washington,5.926729e+05,College,M,23091.0,96.0,5,Corporate Auto,460.800000,Four-Door Car
48,PM78410,Oregon,4.121252e+05,Bachelor,F,0.0,67.0,3,Personal Auto,482.400000,Two-Door Car
49,PU92298,Arizona,7.956153e+05,Bachelor,F,22699.0,74.0,4,Personal Auto,355.200000,Four-Door Car

## there are many whole row nulls - remove them then check for dupes

In [85]:
full=full.dropna(subset=['Customer'])

In [91]:
full=full.drop_duplicates()

In [92]:
full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9134 entries, 0 to 9133
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   9134 non-null   object
 1   State                      9134 non-null   object
 2   Customer Lifetime Value    7070 non-null   float64
 3   Education                  9134 non-null   object
 4   Gender                     9012 non-null   object
 5   Income                     9134 non-null   float64
 6   Monthly Premium Auto       9134 non-null   float64
 7   Number of Open Complaints  9134 non-null   object
 8   Policy Type                9134 non-null   object
 9   Total Claim Amount         9134 non-null   float64
 10  Vehicle Class              9134 non-null   object
dtypes: float64(4), object(7)
memory usage: 856.3+ KB

# filter out less than or equal to 0 claim amount

In [93]:
full.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,7.070000e+03,9134.000000,9134.000000,9134.000000
mean,8.028804e+05,37824.847055,110.393146,430.480412
std,6.942419e+05,30359.232933,581.471461,289.617985
min,1.898008e+05,0.000000,61.000000,0.099007
25%,3.981073e+05,0.000000,68.000000,266.961153
50%,5.782096e+05,34240.000000,83.000000,377.505619
75%,8.989996e+05,62446.500000,109.000000,546.050821
max,8.332538e+06,99981.000000,35354.000000,2893.239678

In [99]:
greater_0=full[full['Income']>0]

In [100]:
greater_0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6840 entries, 2 to 9133
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   6840 non-null   object
 1   State                      6840 non-null   object
 2   Customer Lifetime Value    5249 non-null   float64
 3   Education                  6840 non-null   object
 4   Gender                     6742 non-null   object
 5   Income                     6840 non-null   float64
 6   Monthly Premium Auto       6840 non-null   float64
 7   Number of Open Complaints  6840 non-null   object
 8   Policy Type                6840 non-null   object
 9   Total Claim Amount         6840 non-null   float64
 10  Vehicle Class              6840 non-null   object
dtypes: float64(4), object(7)
memory usage: 641.2+ KB

In [86]:
full['Customer'].value_counts()

BE61743    2
TO60700    2
FM14335    2
JO17193    2
EE99484    2
          ..
JR26812    1
WC26700    1
QX84389    1
TS78649    1
VJ51327    1
Name: Customer, Length: 9056, dtype: int64

map(list)
map(apply)
list(apply)


if string contains '/'
then 
take 3rd character in string 
else 
take 
string

# check into possible data format issue in csv file compared to excel 
- confirmed complaints formatting is present in both file types

In [40]:
!ls

Untitled.ipynb file1.csv      file2.csv      file3.csv

In [41]:
cd ..

/Users/siandavies/Documents/GitHub/lab-customer-analysis-round-1/files_for_lab

In [42]:
!ls

about.md    csv_files   excel_files

In [43]:
cd excel_files/

/Users/siandavies/Documents/GitHub/lab-customer-analysis-round-1/files_for_lab/excel_files

In [48]:
f6=pd.read_excel('file3.xlsx')

In [52]:
f2['Number of Open Complaints'].unique()

array(['1/0/00', '1/1/00', '1/3/00', '1/5/00', '1/2/00', '1/4/00'],
      dtype=object)

In [53]:
f5['Number of Open Complaints'].unique()

array(['1/0/00', '1/1/00', '1/3/00', '1/5/00', '1/2/00', '1/4/00'],
      dtype=object)