In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('web_data.csv')

In [3]:
df.dtypes

web_id           int64
client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [14]:
df.head(20)

,web_id,client_id,visitor_id,visit_id,process_step,date_time,day,month,full_month
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:00,17,4,April
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:00,17,4,April
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:00,17,4,April
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:00,17,4,April
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:00,17,4,April
5,5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:00,17,4,April
6,6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:00,17,4,April
7,7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:00,17,4,April
8,8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:00,5,4,April
9,9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:00,5,4,April
10,10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:00,5,4,April
11,11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:00,5,4,April
12,12,8320017,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:00,5,4,April
13,13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:00,5,4,April
14,14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:00,5,4,April
15,15,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:28:00,5,4,April
16,16,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:26:00,5,4,April
17,17,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:24:00,5,4,April
18,18,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:24:00,5,4,April
19,19,4033851,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:24:00,5,4,April

In [4]:
#to use a date time as date time we change the data type 
df['date_time']=pd.to_datetime(df['date_time'],errors='coerce')

In [5]:
# in this way we can capture elements from the date time field 
df['day']=pd.DatetimeIndex(df['date_time']).day

In [10]:
df['month']=pd.DatetimeIndex(df['date_time']).month

AttributeError: 'Int64Index' object has no attribute 'strftime'

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   web_id        343141 non-null  int64
 1   client_id     343141 non-null  int64
 2   visitor_id    343141 non-null  object
 3   visit_id      343141 non-null  object
 4   process_step  343141 non-null  object
 5   date_time     343141 non-null  datetime64[ns]
 6   day           343141 non-null  int64
 7   month         343141 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 20.9+ MB

In [16]:
df['date_time'][1].strftime(format='%B')

'April'

In [ ]:
df.query('day==17')

In [18]:
 df['full_month']=df['date_time'].dt.strftime('%B')

In [19]:
 df['full_month'].unique()

array(['April', 'March'], dtype=object)